<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Result</title>
    <style>
      html {
        font-family: sans-serif;
        font-size: 23px;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #FFFCC9;


      }

        body{ 
          margin: 0;

         }
        canvas { width: 100%; height: 100% }
    </style>
</head>
<body>
  <button id="btnExport">EXPORT EXCEL REPORT</button>
    <div class = "alfa_1"> 
    <h3> title of the Article </h3> ::> 
    {{article_name}}<br>
    <h3> DOI (Digital Object Identifier) </h3> ::>
    {{doi}}<br>
    <h3> Abstraction and other information </h3> <a href = "{{abstract_data}}">click here </a><br>
    <h3> Affliation details </h3> ::> 
    {{affliation_data}} <br>
    <h3> publication house </h3> ::> 
    {{publication}}<br>

    <h3> Download links </h3><br>
    {%for i in  download_link %}
    <a href = "{{i}}">{{i}}</a><br>
    {%endfor%}
    <h3> authors  </h3> <br>
    {%for i in author_names%}
    <b> {{i}} </b> </br>
    {% endfor %}
    <h3> articles by author </h1> <br>
      <div id = "article_author"> 
    {%for i in similar_article %}
    {{i}}<br>
    {% endfor %}
      </div>
    </div>
    <button id ="show_article"> show_article</button>
    <!--
      different matter
    -->
    <table id = "table_hidden">
        <tr>
          <th>title</th>
          <th> authors </th>
          <th>DOI</th>
          <th>abstract_link </th>
          <th> affliation </th>
          <th> publication </th>
       
        </tr>
        <tr>
          <td>{{article_name}}</td>
          <td>{{author_names}}</td>
          <td> {{doi}}</td>
          <td> {{abstract_data}} </td>
          <td> {{affliation_data}} </td>
          <td> {{publication}} </td>
        
       </table>
    
      <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script>
      $("#article_author").hide();
      $('#table_hidden').hide();
    
      $(document).ready(function(){
        $("#show_article").click(function(){
          $('#article_author').show();
          $("#show_article").hide();
        });


      });

      $(document).ready(function(){
          $("#btnExport").click(function() {
              let table = document.getElementsByTagName("table");
              TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
                 name: `export.xlsx`, // fileName you could use any name
                 sheet: {
                    name: 'Sheet 1' // sheetName
                 }
              });
          });
      });
 
    </script>
</body>
</html>